*{font-family: 'Raleway', sans-serif;}

.leftSide{
  background-color: white;
  width: 200px;
  height: 100vh;
  box-shadow: 0 0 10px #888;
  position: absolute;
  left: 0;
  top: 0;
}
.leftSide p, h2{
  padding: 10px;
}
.rightSide{
  background-color: lightgrey;
  width: calc(100% - 200px);
  float: right;
  height: 100vh;
}

body{
  height: 100vh;
  margin: 0;
}

img{
  display: block;
  margin: auto;
}

#userRole {
  padding-bottom: 10px;
  border-bottom: 3px solid #359;
}

.infoBarUserInfo {
  text-align: center;
  font-weight: bold;
}

.infoBarClasses {
  text-align: center;
}

.regClasses ul {
  padding: 0 10px;
}

.regClasses ul li {
  list-style: none;
  border-radius: 5px;
  background-color: #359;
  color: white;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.rightSide h1, .rightSide h2, .rightSide h3, .rightSide p{
  margin-left: 20px;
}

.rightSide input{
  margin-left: 40px;
}

.infoBar_user img {
	border-bottom: solid 3px #359;
}

.homeButton{
  position: absolute;
  bottom: 0;
  left: 0;;
}
