*{font-family: 'Raleway', sans-serif;}

.leftSide{
  background-color: white;
  width: 200px;
  height: 100vh;
  box-shadow: 0 0 10px #888;
  position: absolute;
  left: 0;
  top: 0;
}
.leftSide p, h2{
  padding: 10px;
}
.rightSide{
  background-color: lightgrey;
  width: calc(100% - 220px);
  float: right;
  height: 100vh;
}

body{
  height: 100vh;
  margin: 0;
}

img{
  display: block;
  margin: auto;
}

#userRole {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.infoBarUserInfo {
  text-align: center;
  font-weight: bold;
}

.infoBarClasses {
  text-align: center;
}

.regClasses ul {
  padding: 0 10px;
}

.regClasses ul li {
  list-style: none;
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
}
