/* This CSS is for the home.html */
html{
  background-color: lightgrey;
  font-family: 'Raleway', sans-serif;
  color: #359;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 90%;
}

.lesson_result{
	width: calc(100% - 40px);
	margin: 10px 20px;
	padding: 10px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0 0 10px #888;
	border-radius: 6px;
}
.lesson_result h3{
	margin: 3px;
}
.home_top {
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
	margin-left: -20px;
	box-shadow: 0 0 10px #888;
}