body{
  background: url('../img/loginB.jpg') no-repeat center;
  background-size: cover;
  padding-top: 40px;
  box-sizing: border-box;
}
div{
  font-family: 'Raleway', sans-serif;
  background-color: white;
  width:30%;
  margin: auto;
  text-align: center;
  padding: 30px 15px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px #888;
}

p, span {
  margin-bottom: 2px;
  font-size: 1.6em;
  color: #359;
}

input {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #359;
}
#rua {
  margin-bottom: 10px;
}

button {
  background-color: #359;
  color: white;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
  color: #359;
  font-size: 50px;
  font-weight: 200;
  margin-top: 0;
}
